In [1]:
#primeiro modelo de machine learning

In [3]:
import pandas as pd
import numpy as np

In [5]:
#ler arquivos 
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [79]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [84]:
np.random.seed(0)
X_falso = np.arange(10)
train_test_split(X_falso)

[array([9, 1, 6, 7, 3, 0, 5]), array([2, 8, 4])]

In [93]:
np.random.seed(0)
train_test_split(X_falso,test_size=0.5)

[array([6, 7, 3, 0, 5]), array([2, 8, 4, 9, 1])]

In [21]:
modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)

In [26]:
variaveis = ['Sex_binario','Age']

In [28]:
def transforma_sexo (valor):
    if valor == "female":
        return 1
    else :
        return 0

In [32]:
train['Sex_binario']=train["Sex"].map(transforma_sexo)

In [49]:
X=train[variaveis]
X=X.fillna(-1)
y=train["Survived"]
modelo.fit(X,y)
#modelo.fit faz uma relação entre dados x e resultados y

RandomForestClassifier(n_jobs=-1, random_state=0)

In [47]:
test['Sex_binario']=test["Sex"].map(transforma_sexo)
X_prev = test[variaveis]
X_prev = X_prev.fillna(-1)

In [60]:
p = modelo.predict(X_prev)
# modelo predict vai prever o resultado do teste com base no modelo fit anterior

In [64]:
sub=pd.Series(p,index=test["PassengerId"],name="Survived")

In [72]:
sub.to_csv("primeiro_modelo.csv",header=True)

In [96]:
!head -n10 primeiro_modelo.csv

'head' nÆo ‚ reconhecido como um comando interno
ou externo, um programa oper vel ou um arquivo em lotes.

In [ ]:
np.random.seed(0)
X_treino, X_valid, y_treino, y_valid = train_test_split(X,y,test_size=0.5)
modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)

In [99]:
modelo.fit(X_treino,y_treino)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [101]:
p2 = modelo.predict(X_valid)

In [105]:
np.mean(y_valid == p2)

0.7690582959641256

In [117]:
p2=(X_valid["Sex_binario"] == 1).astype(np.int64)

In [119]:
np.mean(y_valid == p2)

0.7825112107623319